<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script type="text/javascript" src="js/api.js"></script>
    <title>Login</title>
    <style>
        p {
            font-size: larger;
            color: gray;
        }
        label{
            font-weight: 700;
        }
        #fp{
            float: right;
        }
        #acc {
            font-size: 92%;
            color: black;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 35%;
        }
        #reg{
            font-weight: 700;
        }
        span.icn {
    position: relative;
}
        .icn {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.inp{
  padding-left: 32px;
}
i.bi.bi-eye-slash {
    float: right;
    /* margin-top: -5%; */
    margin-right: 3%;
    /* position: relative; */
}
/* i.bi.bi-eye-slash {
    float: right;
    margin-top: -9%;
    margin-right: 3%;
    
} */

    </style>
  </head>
  <body>


    <div class="container">
        <h1>Hello.</h1>
        <p>Welcome Back </p>
    <form>

      <div id="loginresponse">
      </div>

        <!-- EID input -->
        <div class="form-outline mb-4 emailInp">
            <label class="form-label" for="form2Example1">Grab ID</label>
            <div class="input-group-addon ">
              
            <input type="email" id="form2Example1" class="form-control inp" placeholder=" Enter Grab ID"/>
            <span class="icn">
              <i class="bi bi-envelope"></i>
            </span>
          </div>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control inp" placeholder="Enter Password" />
             <span class="icn">
              <i class="bi bi-lock"></i>
            </span>
            <span class="icn2">
            <i class="bi bi-eye-slash"></i>
             </span> 
            
        </div>
        
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <!-- <div class="col d-flex justify-content-center"> -->
            <!-- Checkbox -->
            <!-- <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div> -->
      
          <div class="col">
            <!-- Simple link -->
            <a href="#!" id="fp">Forgot password?</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" onclick="login()">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p id="acc">Dont have an account? </p>
          <p><a href="#!" id="reg">BECOME A RIDER</a></p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>